{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-12">
            <h1>Lista stron</h1>
            <ul>
            {% for page in pages %}
            <li><a href="{{ path('page_show', {'slug': page.slug}) }}">
                    {{ page.title }}
                </a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}