{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-12">
            <h1>{{ page.title }}</h1>
            <p>{{ page.body }}</p>
        </div>
    </div>
{% endblock %}