// customize some Bootstrap variables
// $brand-primary: darken(#428bca, 20%);

// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

// set if you're also including font-awesome
// $fa-font-path: "~font-awesome/fonts";

// the ~ allows you to reference things in node_modules
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap/scss/bootstrap';
