@import '~bootstrap/scss/bootstrap';

$color_1: #495057;
$color_2: transparent;
$color_3: #777;
$background_color_1: #f5f5f5;

:root {
	--input-padding-x: .75rem;
	--input-padding-y: .75rem;
}
html {
	height: 100%;
}
body {
	height: 100%;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $background_color_1;
}
.form-signin {
	width: 100%;
	max-width: 420px;
	padding: 15px;
	margin: 0 auto;
}
.form-label-group {
	position: relative;
	margin-bottom: 1rem;
	>input {
		padding: var(--input-padding-y) var(--input-padding-x);
	}
	>label {
		padding: var(--input-padding-y) var(--input-padding-x);
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		margin-bottom: 0;
		line-height: 1.5;
		color: $color_1;
		border: 1px solid transparent;
		border-radius: .25rem;
		transition: all .1s ease-in-out;
	}
	input {
		&::-webkit-input-placeholder {
			color: $color_2;
		}
		&:-ms-input-placeholder {
			color: $color_2;
		}
		&::-ms-input-placeholder {
			color: $color_2;
		}
		&::-moz-placeholder {
			color: $color_2;
		}
		&::placeholder {
			color: $color_2;
		}
		&:not(:placeholder-shown) {
			padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
			padding-bottom: calc(var(--input-padding-y) / 3);
			&~label {
				padding-top: calc(var(--input-padding-y) / 3);
				padding-bottom: calc(var(--input-padding-y) / 3);
				font-size: 12px;
				color: $color_3;
			}
		}
	}
}
